## outputs
example-1/hello
example-2/x11-example
example-3/config.h
example-3/config.h.in
example-3/gl-example
example-3/stamp-h1

## Object files
*.o

## autoconf
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
